@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Kaushan+Script&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: "poppins", sans-serif;
}



:root {
     --bg-color: #F2E9E4;
     --second-color: #0E131F;
     --white: #ffffff;
}



body {
     background-color: var(--bg-color);
}

header {

     background-color: var(--second-color);
     /* position: fixed;
     width: 100%;
     top: 0;
     z-index: 999; */
}

.head {

     display: flex;
     align-items: center;
     justify-content: space-between;
     padding-inline: 5rem;
}


.head div {
     display: flex;
     align-items: center;
     gap: 60px;
     padding: 15px;


}

.head .logo i {
     color: var(--white);
     font-size: 30px;
}



.head div nav a {
     margin-left: 30px;
     color: var(--white);
     font-weight: 600;
     text-decoration: none;
}


.btn-login {
     padding: 0.6rem 40px;
     border-radius: 10px;
     color: var(--second-color);
     font-weight: 600;
     font-size: 14px;
     cursor: pointer;
     background-color: var(--bg-color);
     border: 2px solid var(--bg-color);
}



/* started main content */


.card {
     /* margin-top: 12rem; */
     padding-top: 7rem;
  
     display: flex;
     align-items: center;
     justify-content: center;
     gap: 40px;
}

.card__image {
     width: 500px;
     height: auto;
     border-radius: 10px;
}

.card__content {
     max-width: 600px;
}


.card__date {
     background-color: var(--second-color);
     width: fit-content;
     padding: 0.3rem 30px;
     color: var(--white);
     border-radius: 8px;
     font-weight: 600;
}

.card__title {
     font-size: 2.7rem;
}

.card__description {
     font-weight: 400;
     margin-bottom: 5px;
}


/* style article design */
.article-card {
     margin-top: 4rem;
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     padding: 40px;
}

/* 2. Individual Card Styling */
.article {
     background-color: var(--white);
     border-radius: 15px;
     overflow: hidden;
     box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
     height: 440px;
     width: 370px;
     padding-bottom: 20px;
     cursor: pointer;
     position: relative;
}

.article .news {
     width: fit-content;
     position: absolute;
     background-color: var(--second-color);
     color: var(--white);
     margin-left: 10px;
     margin-top: 10px;
     padding: 0.5rem 20px;
     border-radius: 10px;
}


.article img {
     width: 100%;
     height: 200px;
     object-fit: cover;
}

.article .category {
     margin-top: 15px;
     margin-left: 10px;
     width: fit-content;
}

.article .category P {
     background-color: var(--second-color);
     color: var(--white);
     padding: 0.3rem 20px;
     border-radius: 7px;
}


.article p {
     margin-top: 10px;
     padding: 8px;
     color: var(--second-color);
     font-weight: 400;
     margin-left: 10px;
}


.pagination {
     margin-top: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 15px;
     padding-bottom: 50px;
}

.pagination__btn {
     width: 40px;
     height: 40px;
     background-color: var(--second-color);
     color: var(--white);
     text-decoration: none;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 50%;
     font-weight: bold;
     font-size: 16px;
}